# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/.vscode/**
**/public/**
**/node_modules/**
**/package-lock.json
**/package.json
**/.env
**/build
**/.eslintrc.js